//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    fastq = null
    type = "map-ont"
    min_abundance = 0.0001
    database = "emu"
    num_alignments = 50
    K = 500000000
    out_dir = "output"
    emu_output_dir = "emu-results"
    output_basename = "TODO"
    keep_files = false
    keep_counts = false
    keep_read_assignments = false
    output_unclassified = false
    threads = 3
    databases = ['emu', 'rdp', 'silva', 'unite-fungi', 'unite-all']


    process_label = "wfemu"
    sample_sheet = null
    sanitize_fastq = false
    report_name = "report"

    wfversion = "v0.2.0"
    aws_image_prefix = null
    aws_queue = null

    monochrome_logs = false
    validate_params = false
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wfversion,wf'

    wf {
        example_cmd = [
            "--fastq test_data/full_length.fa"
        ]
    }
}

manifest {
    name            = 'treangenlab/wf-emu'
    author          = 'Treangen Lab'
    homePage        = 'https://gitlab.com/treangenlab/wf-emu'
    description     = 'Emu for EPI2ME'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    //version       = 'v0.0.7'  // TODO: do switch to this?
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
// TEST WITH LOCAL CONTAINER
process {
    withLabel:wfemu {
        container = "ontresearch/wf-template:${params.wfversion}"
        container = "docker.io/kdc10/emu:latest"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    // profile using conda environments
    conda {
        docker.enabled = false
        process {
            withLabel:wfemu {
                conda = "${projectDir}/environment.yaml"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        conda {
             cacheDir = ""
             useMamba = true
        }
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:wfemu {
                container = "${params.aws_image_prefix}-wf-template:${params.wfversion}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/pipeline.svg"
}
